* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.navbar {
  height: 7vh;
}
.language {
  height: 5vh;
}
.search {
  height: 10vh;
}
.calender {
  height: 60vh;
}
.recommended {
  height: 18vh;
}
