.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.search-container > * {
  margin: 1rem;
}

.date-container {
  /* background-color: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}

.date-container > * {
  margin: 0 0.5rem;
}

/* .searchByDate,
.searchByCountry {
  border: 1px solid black;
} */
.submit-search-contianer {
  position: relative;
}

.error-search-message {
  position: absolute;
  width: 200px;
  left: -5rem;
  color: red;
}


#country {
  width: 500px;
}

.ui.category.search  {
  height: 60%;
}

.ui.secondary.button.find-events {
  margin-bottom: 3.5px;
}